@{
    ViewData["Title"] = "Home Page";
    Layout = "_ChatroomLayout";
}

<form action="">
  <input type="text">
</form>

<form action="">
  <input type="text"><button>Send</button>
</form>
