@{
    ViewData["Title"] = "Home Page";
    Layout = "_ProfileLayout";
}
<img src="http://www.placecorgi.com/250" alt="placeholder"/>
<button>Join Room</button>
<img src="http://www.placecorgi.com/250" alt="placeholder"/>
<button>Join Room</button>
<img src="http://www.placecorgi.com/250" alt="placeholder"/>
<button>Join Room</button>
