@{
    ViewData["Title"] = "Home Page";
    Layout = "_ProfileLayout";
}

@using(Html.BeginForm("Index","Chatroom", null, FormMethod.Post))
{
  <img src="http://www.placecorgi.com/250" alt="placeholder"/>
  <button type="submit">Join Room</button>
  <img src="http://www.placecorgi.com/250" alt="placeholder"/>
  <button type="submit">Join Room</button>
  <img src="http://www.placecorgi.com/250" alt="placeholder"/>
  <button type="submit">Join Room</button>
}