@{
    ViewData["Title"] = "Home Page";
    Layout = "_AccountCreationLayout";
}

<form>

  Please enter your username: <input type="text">
  Please enter your password: <input type="password">
</form>
